%bio
  .wrapper
    %header
      %h1
        = "#{@show_user.first_name} #{@show_user.last_name}"
    %text
      - if @show_user.bio.empty?
        = "#{@show_user.first_name} #{@show_user.last_name} hasn't entered any biographical information yet."
      - else
        = simple_format @show_user.bio
