%registration
  .container
    %header
      %h1 Sign up
    %text
      = bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        %fieldset
          .row
            .col-sm-4
              - devise_error_messages!
              = f.email_field :email, autofocus: true
              = f.password_field :password, label: "Password (#{@minimum_password_length} characters minimum)", autocomplete: "off"
              = f.password_field :password_confirmation, autocomplete: "off"
              = f.text_field :first_name
              = f.text_field :last_name
            .col-sm-10
              = f.text_area :bio, label: "Biographical information (optional)", rows: 10
              %p
              = f.submit "Sign up"
