%section#header
  %nav
    %ul
      - if @show_user
        %name #{@show_user.full_name}
        - possessive_name = "#{@show_user.first_name}".possessive
        %li= link_to "#{possessive_name} Categories", user_categories_path(@show_user)
        %li= link_to "Bio", user_bios_path(@show_user)
      
      %li.dropdown
        %a.dropdown-toggle(href="#" data-toggle="dropdown")
          = "All Photographers"
          %span.caret
        %ul.dropdown-menu
          - @sorted_pictures.each do |picture|
            %li
              = link_to "#{picture.user.first_name} #{picture.user.last_name}", root_path(id: picture)

      - if user_signed_in?
        %li= link_to "Add Photos", new_user_category_path(current_user)
        %li= link_to "Log Off", destroy_user_session_path, :method => :delete
      - else
        %li= link_to "Log In", user_session_path