%home
  %img{:src => "#{@picture_photographer.image_link}"}
  %nav
    %ul
      %photographer #{@photographer}:
      %li= link_to  "View Portfolio", users_path(id: @picture_photographer.category.user.name)
      <br/>
      %li= link_to "Prev | ", root_path(id: @prev_picture)
      %li= link_to "Next", root_path(id: @next_picture)