%home
  %img{:src => "#{@picture.image_link}"}
  %nav
    %ul
      %category #{@picture.category.name}:
      %li= link_to  "View Portfolio", @category
      <br/>
      %li= link_to "Prev | ", root_path(cat: @prev)
      %li= link_to "Next", root_path(cat: @next)