%home
  %img{:src => "#{@picture.image_link}"}
  %nav
    %ul
      %photographer #{@photographer}:
      %li= link_to  "View Portfolio", users_path(first_name: @photographer_first_name, last_name: @photographer_last_name)
  %arrows
    %left
      = link_to(image_tag("/tmp/prev-0.jpg"), root_path(id: @prev_picture))
    %right
      = link_to(image_tag("/tmp/next-0.jpg"), root_path(id: @next_picture))
