%login
  .wrapper
    %header
      %h1 Log In
    %text
      = bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form_group
          .row
            .col-sm-3
              = f.email_field :email, autofocus: true
          .row
            .col-sm-3
              = f.password_field :password, autocomplete: "off"
          .row
            .col-sm-3
              = f.check_box :remember_me
        .form-group
          .row
            .col-sm-3
              %p
              = f.submit "Log in"
      = render "devise/shared/links"