%category
  .wrapper
    %header
      %h1 Edit a Photo
    %text
      = bootstrap_form_for [current_user, @picture] do |f|
        %fieldset
          .row
            .col-sm-4
              - selected = @categories_containing_photo
              = f.collection_check_boxes(:category_id, @categories, :id, :name, checked: selected)
              = f.text_field :title, autofocus: true
              = f.text_field :location
              = f.text_field :description
              <strong>Your current photo:</strong>
              %img{:src => "#{@picture.image_link.thumb}"}
              = f.file_field :image_link, label: "Upload Replacement Photo?", class: "btn btn-default btn-file"
              = f.form_group :set_cat_picture, label: {text: 'Represents the Category?'} do
                - @radiobutton_category_names.each do |category|
                  = f.radio_button :set_cat_picture, category, label: "#{category[0]}", checked: category[1]
              = f.form_group :set_user_picture, label: {text: 'Represents Your Portfolio?'} do
                = f.radio_button :set_user_picture, true, label: "Yes", checked: @picture.set_user_picture
                = f.radio_button :set_user_picture, false, label: "No", checked: !@picture.set_user_picture
              = f.submit "Update Photo"