%addpicture
  .wrapper
    %header
      %h1 Add a Photo
    %text
      = bootstrap_form_for [current_user, @picture] do |f|
        %fieldset
          .row
            .col-sm-4
              = f.form_group :category_id, label: {text: 'Select Your Category'} do
                - @categories.each do |category|
                  = f.radio_button :category_id, category.id, label: "#{category.name}"
              = f.text_field :title
              = f.text_field :location
              = f.text_field :description
              - unless @picture.image_link?
                = f.file_field :image_link, label: "Name of Photo", class: "btn btn-default btn-file"
              = f.hidden_field :image_link_cache
              = f.form_group :set_cat_picture, label: {text: 'Represents this Category?'} do
                = f.radio_button :set_cat_picture, true, label: "Yes", checked: @picture.set_cat_picture
                = f.radio_button :set_cat_picture, false, label: "No", checked: !@picture.set_cat_picture
              = f.form_group :set_user_picture, label: {text: 'Represents this User?'} do
                = f.radio_button :set_user_picture, true, label: "Yes", checked: @picture.set_user_picture
                = f.radio_button :set_user_picture, false, label: "No", checked: !@picture.set_user_picture
              = f.submit "Add Photo"