%addpicture
  .wrapper
    %header
      %h1 Add a Photo
    %text
      .row
      = bootstrap_form_for [current_user, @picture] do |f|
        %fieldset
          .row
            .col-sm-5
              = f.text_field :title, autofocus: true
              = f.text_field :location
              = f.text_field :description
              = f.file_field :image_link, label: "Name of Photo", class: "btn btn-default btn-file"
              = f.hidden_field :image_link_cache
              = f.form_group :represent_category, label: {text: 'Represents this Category?'} do
                = f.radio_button :represent_category, true, label: "Yes", checked: @picture.represent_category
                = f.radio_button :represent_category, false, label: "No", checked: !@picture.represent_category
              = f.form_group :represent_user, label: {text: 'Represents this User?'} do
                = f.radio_button :represent_user, true, label: "Yes", checked: @picture.represent_user
                = f.radio_button :represent_user, false, label: "No", checked: !@picture.represent_user
              = f.submit "Add Photo"