%categorydetail
  %header
    %h1= link_to(@picture.category.name, user_category_path(@picture.user, @picture.category))
  %img{:src => "#{@picture.image_link}"}
  %nav
    %ul
      .title
        = "#{@picture.title} &nbsp;&nbsp;&#149;&nbsp;&nbsp; #{@picture.location}".html_safe
  %arrows
    %left
      = link_to(image_tag("/tmp/prev-0.jpg"), user_picture_path(@show_user, @prev_picture))
    %right
      = link_to(image_tag("/tmp/next-0.jpg"), user_picture_path(@show_user, @next_picture))