%categorydetail
  %header
    %h1= link_to(@picture.category.name, user_category_path(@picture.user, @picture.category))
  %img{:src => "#{@picture.image_link}"}
  %nav
    %ul
      .title
        = @picture.title
        %span.location
          = @picture.location
  %arrows
    %left
      = link_to("", user_picture_path(@show_user, @prev_picture))
    %right
      = link_to("", user_picture_path(@show_user, @next_picture))