.categories
  %header
    - possessive_name = "#{@show_user.first_name}".possessive
    %h1= "#{possessive_name} Categories"
  .wrapper
    - @pictures.each_slice(4) do |pictures|
      .pictures
        - pictures.each do |picture|
          .picture
            = link_to user_category_path(@show_user, picture.category) do
              %img{:src => "#{picture.image_link.thumb}"}
            .caption
              = picture.category.name