!!! 5
%html(lang="en-US")
  %head
    %title Photographer Showcase
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    = csrf_meta_tag
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
  %body{:class => "#{controller_name} #{controller_name}-#{action_name}"}
    %header
      = render 'shared/header'
    %section.content.clearfix
      = render 'shared/messages'
      = yield
    %footer
      = render 'shared/footer'
